<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Clinic Spring</title>
        <style>
            .navbar-nav .nav-link:hover {
                color: #007bff !important;
            }
        </style>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-grey">
            <a class="navbar-brand" href="/home">Logo</a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" th:if="${#authentication == null}">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <form th:action="@{/logout}" method="post">
                        <li
                            class="nav-item"
                            th:if="${#authentication != null }"
                        >
                            <button
                                type="submit"
                                class="nav-link btn btn-outline-primary rounded"
                            >
                                Logout
                            </button>
                        </li>
                    </form>
                    <li class="nav-item" th:if="${#authentication == null}">
                        <a class="nav-link" href="/signup">Sign Up</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div th:replace="this :: content">
            <!-- Este bloque será reemplazado por el contenido de cada página -->
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>
