<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{base :: head}">
        <title>Editar Historia</title>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
    </head>
    <body>
        <nav th:replace="~{base :: nav}"></nav>
        <div th:fragment="content">
            <div class="container">
                <h1 class="mt-5">Editar Historia</h1>
                <form
                    th:action="@{'/historiales/edit/' + ${historial.id}}"
                    method="post"
                >
                    <input type="hidden" th:value="${historial.id}" name="id" />
                    <div class="form-group">
                        <label for="fecha">Fecha:</label>
                        <input
                            type="date"
                            class="form-control"
                            id="fecha"
                            name="fecha"
                            th:value="${historial.fecha}"
                            required
                        />
                    </div>
                    <div class="form-group">
                        <label for="paciente">Paciente:</label>
                        <select
                            class="form-control"
                            id="paciente"
                            name="paciente"
                            required
                        >
                            <option value="">Seleccione un paciente</option>
                            <option
                                th:each="paciente : ${pacientes}"
                                th:value="${paciente.cedula}"
                                th:text="${paciente.nombres + ' ' + paciente.apellidos}"
                                th:selected="${historial.paciente != null && paciente.cedula == historial.paciente.cedula}"
                            ></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="odontologo">Odontologo:</label>
                        <select
                            class="form-control"
                            id="odontologo"
                            name="odontologo"
                            required
                        >
                            <option value="">Seleccione un odontologo</option>
                            <option
                                th:each="odontologo : ${odontologos}"
                                th:value="${odontologo.id}"
                                th:text="${odontologo.nombres + ' ' + odontologo.apellidos}"
                                th:selected="${historial.odontologo != null && odontologo.id == historial.odontologo.id}"
                            ></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="tratamiento">Tratamiento:</label>
                        <select
                            class="form-control"
                            id="tratamiento"
                            name="tratamiento"
                            required
                        >
                            <option value="">Seleccione un tratamiento</option>
                            <option
                                th:each="tratamiento : ${tratamientos}"
                                th:value="${tratamiento.id}"
                                th:text="${tratamiento.nombre}"
                                th:selected="${historial.tratamiento != null && tratamiento.id == historial.tratamiento.id}"
                            ></option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Guardar cambios
                    </button>
                </form>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>
