<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{base :: head}">
        <title>Lista de Odontogramas</title>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
    </head>
    <body>
        <nav th:replace="~{base :: nav}"></nav>
        <div th:fragment="content">
            <div class="container">
                <h1>Odontogramas</h1>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Paciente</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="odontograma : ${odontogramas}">
                            <td th:text="${odontograma.id}"></td>
                            <td
                                th:text="${odontograma.paciente.nombres + ' ' + odontograma.paciente.apellidos}"
                            ></td>
                            <td>
                                <div class="btn-group" role="group">
                                    <form
                                        th:action="@{'/odontogramas/delete-front/' + ${odontograma.id}}"
                                        method="get"
                                    >
                                        <button
                                            type="submit"
                                            class="btn btn-danger"
                                        >
                                            Eliminar
                                        </button>
                                    </form>
                                    <form
                                        th:action="@{'/odontogramas/ver/' + ${odontograma.id}}"
                                        method="get"
                                    >
                                        <button
                                            type="submit"
                                            class="btn btn-primary"
                                        >
                                            Ver
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button
                    type="button"
                    class="btn btn-primary"
                    onclick="location.href='/odontogramas/new'"
                >
                    Nuevo odontograma
                </button>
                <button
                    type="button"
                    class="btn btn-primary"
                    onclick="location.href=''"
                >
                    Buscar odontograma
                </button>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>
