<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lista de Tipos de Tratamientos</title>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
    </head>
    <body>
        <div class="container">
            <h1>Tipo de Tratamiento</h1>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="tipo : ${tipo_tratamientos}">
                        <td th:text="${tipo.id}"></td>
                        <td th:text="${tipo.nombre}"></td>
                        <td th:text="${tipo.descripcion}"></td>
                        <td>
                            <div class="btn-group" role="group">
                                <form
                                    th:action="@{'/tipo_tratamiento/delete-front/' + ${tipo.id}}"
                                    method="get"
                                >
                                    <button
                                        type="submit"
                                        class="btn btn-danger"
                                    >
                                        Borrar
                                    </button>
                                </form>
                                <form
                                    th:action="@{'/tipo_tratamiento/edit/' + ${tipo.id}}"
                                    method="get"
                                >
                                    <button
                                        type="submit"
                                        class="btn btn-success"
                                    >
                                        Actualizar
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button
                type="button"
                class="btn btn-primary"
                onclick="location.href='/tipo_tratamiento/new'"
            >
                Nuevo Tipo
            </button>
            <button
                type="button"
                class="btn btn-primary"
                onclick="location.href=''"
            >
                Buscar Tipo
            </button>
        </div>
    </body>
</html>
