<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{base :: head}">
        <title>Crear Nuevo Tipo de Tratamiento</title>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
    </head>
    <body>
        <nav th:replace="~{base :: nav}"></nav>
        <div th:fragment="content">
            <div class="container">
                <h1 class="mt-5">Nuevo Tipo Tratamiento</h1>
                <form th:action="@{/tipos_tratamientos/new}" method="post">
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input
                            type="text"
                            class="form-control"
                            id="nombre"
                            name="nombre"
                            required
                        />
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripcion:</label>
                        <input
                            type="text"
                            class="form-control"
                            id="descripcion"
                            name="descripcion"
                            required
                        />
                    </div>

                    <button type="submit" class="btn btn-primary">
                        Guardar
                    </button>
                    <a
                        href="/tipos_tratamientos/list-front"
                        class="btn btn-outline-danger"
                        >Volver al Listado</a
                    >
                </form>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>
