<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Editar Tratamiento</title>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
    </head>
    <body>
        <div class="container">
            <h1 class="mt-5">Editar Tratamiento</h1>
            <form
                th:action="@{'/tratamientos/edit/' + ${tratamiento.id}}"
                method="post"
            >
                <label for="id">ID:</label>
                <input
                    type="text"
                    class="form-control"
                    id="id"
                    th:value="${tratamiento.id}"
                    name="id"
                    readonly
                />
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input
                        type="text"
                        class="form-control"
                        id="nombre"
                        th:value="${tratamiento.nombre}"
                        name="nombre"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="precio">Precio</label>
                    <input
                        type="number"
                        class="form-control"
                        id="precio"
                        th:value="${tratamiento.precio}"
                        name="precio"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="procedimientos">Procedimientos</label>
                    <input
                        type="text"
                        class="form-control"
                        id="procedimientos"
                        th:value="${tratamiento.procedimientos}"
                        name="procedimientos"
                    />
                </div>
                <div class="form-group">
                    <label for="resultados">Resultados</label>
                    <input
                        type="text"
                        class="form-control"
                        id="resultados"
                        th:value="${tratamiento.resultados}"
                        name="resultados"
                    />
                </div>
                <div class="form-group">
                    <label for="medicamentos">Medicamentos</label>
                    <input
                        type="text"
                        class="form-control"
                        id="medicamentos"
                        th:value="${tratamiento.medicamentos}"
                        name="medicamentos"
                    />
                </div>
                <div class="form-group">
                    <label for="instrucciones">Instrucciones</label>
                    <input
                        type="text"
                        class="form-control"
                        id="instrucciones"
                        th:value="${tratamiento.instrucciones}"
                        name="instrucciones"
                    />
                </div>
                <div class="form-group">
                    <label for="tipoTratamiento">Tipo Tratamiento:</label>
                    <select
                        class="form-control"
                        id="tipoTratamiento"
                        name="tipoTratamiento"
                        required
                    >
                        <option value="">
                            Seleccione un tipo de tratamiento
                        </option>
                        <option
                            th:each="tipo : ${tipos}"
                            th:value="${tipo.id}"
                            th:text="${tipo.nombre}"
                            th:selected="${tratamiento.tipoTratamiento != null && tipo.id == tratamiento.tipoTratamiento.id}"
                        ></option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">
                    Guardar cambios
                </button>
            </form>
        </div>
    </body>
</html>
