<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{base :: head}">
        <title>Lista de Usuarios</title>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
    </head>
    <body>
        <nav th:replace="~{base :: nav}"></nav>
        <div th:fragment="content">
            <div class="container">
                <h1>Usuarios</h1>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Email</th>
                            <th>Rol</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.role.name}"></td>
                            <td>
                                <div class="btn-group" role="group">
                                    <form
                                        th:action="@{'/users/delete-front/' + ${user.id}}"
                                        method="get"
                                    >
                                        <button
                                            type="submit"
                                            class="btn btn-danger"
                                        >
                                            Borrar
                                        </button>
                                    </form>
                                    <form
                                        th:action="@{'/users/edit/' + ${user.id}}"
                                        method="get"
                                    >
                                        <button
                                            type="submit"
                                            class="btn btn-success"
                                        >
                                            Actualizar
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button
                    type="button"
                    class="btn btn-primary"
                    onclick="location.href='/users/new'"
                >
                    Nuevo Usuario
                </button>
                <button
                    type="button"
                    class="btn btn-primary"
                    onclick="location.href=''"
                >
                    Buscar Usuario
                </button>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>
